.button {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    color: #FFFFFF;

    border: none;
    border-radius: 13px;

    min-width: 110px;
    min-height: 110px;

    background-color: #C5E3D7;

    transition: transform 0.3s ease;
}
.button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.dark {
    color: #1D1D1D;
}